<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956383533616-kcqp26ehna6ikj00qnml417b8s1k9aeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956383533616-kcqp26ehna6ikj00qnml417b8s1k9aeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956383533616-dpqjn4j3cipir4qvji198svtc4qq05h7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAljcMJ4EerMFn_NY4uVF0NBPIKxzDEXLw</string>
	<key>GCM_SENDER_ID</key>
	<string>956383533616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carifyApp.ios</string>
	<key>PROJECT_ID</key>
	<string>carify-be8bb</string>
	<key>STORAGE_BUCKET</key>
	<string>carify-be8bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956383533616:ios:3f922ddfad9b89f84aebf5</string>
</dict>
</plist>